body{
	background-image: url( '../img/fondo.png');
	background-repeat:repeat;
	background-size: 100%;
}
.formulario{
	text-align: center;
}
.cabecera{
	text-align: left;
}
p{color:white;
	font:caption;
}
.separados{
	text-align: center;
	 
	
}
#centrado{
	float:left;
	width: 30%;
}
#banner1{
	float:left;
	width:45%;
}
.banner2{
	float:left;
	width:45%;
}
.banner3{
	float:right;
	width:45%;
}
#titulo{
	margin:0 auto;
	text-align:center;
}
#error{
	background-image: url('../img/fondo_error.png');
	background-repeat: no-repeat;
	position: absolute;
	background-size: 100%;
}
ul{
	list-style: none;
}
a.lista:link{text-decoration: none;
	   color:white;
	   font:caption;
	}
a.lista:hover{text-decoration: underline;
			color:gray;
}
a.lista:active{	text-decoration: none;
				color:black;
}
a.lista:visited{text-decoration: none;
	   color:white;
	   font:caption;}
li {
	padding-bottom: 15px;
}
.boardAdmin{
	width:75%;
	float:right;
}
.listaAdmin{
	width:25%;
}
#tittle{
	text-align: center;
}
h2{
	color:white;
}
h3{
	display:inline;
	color:white
}
#textoinput{
	width: 1px;
}
#navlist {
    width: 100%;
    text-align: center;
}
#navlist ul {
    list-style: none;
}

/*scroll tabla*/
table {
	text-align: center;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0px solid black;
}

thead, tbody, tr, td, th { display: block; }

tr:after {
	text-align: center;
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th { 
    height: 30px;
    line-height: 30px;
    text-align: center;
}

tbody {
	text-align: center;
    height: 350px;
    overflow-y: auto;
}

thead {
    /* fallback */
    width: 97%;
    /* minus scroll bar width */
    /*width: calc(100% - 17% );*/
    text-align: center;
}



tbody td, thead th {
    width: 15%;
    float: left;
    border-right: 0px solid black;
}

tbody td:last-child, thead th:last-child {
    border-right: none;
}
.tabla{
	text-align: center;
}
#map-canvas{

	width:300px; height:300px;
}
/*find de croll de tabla*/

