.cabecera{
	text-align: left;
}

.laboratorix{
	background-image:url('../img/fondo.png');
	background-repeat:repeat;
	background-size: 100%;
}

.formulario{
	text-align: center;
	color:white;	
}

p{color:white;}

h1{color:white;}
h3{color:white;}

#centrado{
	margin: 0 auto;
	width: 25%;
	color:white;
}
#titulo{
	margin:0 auto;
	text-align:center;
}

#contenido{
	margin:0 auto;
	text-align:center;
	color:white;
}

.barraizq{
	color:white;
	float:left;
	background-color:transparent;
	height:550px;
	width:20%;
	text-align:center;
}

.barrader{
	color:white;
	background-color:transparent;
	width:90%;
	height:110%;
	font-size:21px;
	text-align:left;
	margin-left:30px;
}

a:link, a:visited{   
	text-decoration:none;   
	color:white;
	font-size:24px;
}

ul{
	list-style: none;
}
a.lista:link{text-decoration: none;
	   color:white;
	   font:caption;
	}
a.lista:hover{text-decoration: underline;
			color:gray;
}
a.lista:active{	text-decoration: none;
				color:black;
}
a.lista:visited{text-decoration: none;
	   color:white;
	   font:caption;}
li {
	padding-bottom: 15px;
}

#banner1{
	float:left;
	width:45%;
}

td {

	text-align: center;
	margin-left:auto; 
    margin-right:auto;
    border: 1px solid;

}

.table1{
	text-align: center;
	margin-left:auto; 
    margin-right:auto;
    border: 1px solid;

}

.table2{
	text-align: center;
	margin-left:auto; 
    margin-right:auto;
    border: 1px solid;

}