.laboratorix{
	background-image:url('../view/img/fondo.png');
	background-repeat:no-repeat;
	background-size: 100%;
}
.formulario{
	text-align: center;
}
p{color:white;
	font:caption;
}
#centrado{
	float:left;
	width: 30%;
}
#banner1{
	float:left;
	width:45%;
}
.banner2{
	float:left;
	width:45%;
}
.banner3{
	float:right;
	width:45%;
}
#titulo{
	margin:0 auto;
	text-align:center;
}
#error{
	background-image: url('../view/img/fondo_error.png');
	background-repeat: no-repeat;
	position: absolute;
	background-size: 100%;
}
ul{
	list-style: none;
}
a.lista:link{text-decoration: none;
	   color:white;
	   font:caption;
	}
a.lista:hover{text-decoration: underline;
			color:gray;
}
a.lista:active{	text-decoration: none;
				color:black;
}
a.lista:visited{text-decoration: none;
	   color:white;
	   font:caption;}
li {
	padding-bottom: 15px;
}
.boardAdmin{
	width:75%;
	float:right;
}
.listaAdmin{
	width:25%;
}
#tittle{
	text-align: center;
}
h2{
	color:white;
}