.laboratorix{
	background-image:url(../view/img/fondo.png);
	background-repeat:no-repeat;
	background-size: 100%;
}
.cabecera{
	text-align: left;
}
.formulario{
	text-align: center;
}

h3{color:white;}

h4{color:white;}

p{color:white;
	font:arial;
	display:inline;
	font-size:15px;
}
#centrado{
	float:left;
	width: 30%;
}
.error{
	float:left;
	width:100%;
}
#banner1{
	float:left;
	width:45%;
}
.banner2{
	float:left;
	width:45%;
}
.banner3{
	float:right;
	width:45%;
}
.banner4{
	width:100%;
}
.botonVolver{
	float:left;
	width:100%;
}
.tablaDinamica{
	width:100%;
	text-align: center;
}
.tablaFija{
	width: 40%;
	text-align:left;
}
#titulo{
	margin:0 auto;
	text-align:center;
}
#error{
	background-image: url(../view/img/fondo_error.png);
	background-repeat: no-repeat;
	position: absolute;
	background-size: 100%;
}
ul{
	list-style: none;
}
a:link, a:visited{   
	text-decoration:none;   
	color:white;
	font-size:24px;
}

a.lista:link{text-decoration: none;
	   color:white;
	   font:caption;
	}
a.lista:hover{text-decoration: underline;
			color:gray;
}
a.lista:active{	text-decoration: none;
				color:black;
}
a.lista:visited{text-decoration: none;
	   color:white;
	   font:caption;}
li {
	padding-bottom: 15px;
}
.boardAdmin{
	width:75%;
	float:right;
}
.listaAdmin{
	width:25%;
}
#tittle{
	text-align: center;
}
h2{
	color:white;
}
#navlist {
    width: 100%;
    text-align: center;
}
#navlist ul {
    list-style: none;
}
.horizontal{
	display: inline;
}
.tablaDinamic{
	width:100%;
	padding:25px;
	text-align: center;
}

.table1{
	text-align: center;
	margin-left:auto; 
    margin-right:auto;
    border: 1px solid;
    border-color: white;

}

.table2{
	text-align: center;
	margin-left:auto; 
    margin-right:auto;
    border: 1px solid;

}